
/.gradle/8.8
/.gradle/8.8
/.gradle/8.8
.idea/workspace.xml
/build/tmp/compileJava
/.gradle/8.8/executionHistory
/.gradle/8.8
/.gradle/8.8
/.gradle/8.8/fileHashes
/.gradle/8.8
/.gradle/8.8/fileHashes
.idea/workspace.xml
build/tmp/compileJava/previous-compilation-data.bin
/.gradle/8.8/executionHistory
/.gradle/8.8/executionHistory
/.gradle/8.8
.idea/workspace.xml
