body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.sidebar {
    width: 250px;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #333;
    color: white;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 20px;
}

.sidebar .logo a {
    text-decoration: none;
    color: white;
    font-size: 22px;
    display: block;
    text-align: center;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 8px;
    text-align: left;
    transition: 0.3s;
}

.sidebar ul li a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px;
    transition: 0.3s;
}

.sidebar ul li a:hover {
    background-color: #575757;
}

.sidebar ul .sub-menu {
    display: none;
    background-color: #414141;
}

.sidebar ul .sub-menu li a {
    padding-left: 30px;
}

.sidebar ul .sidebar-btn.active + .sub-menu {
    display: block;
}
