<!DOCTYPE html>
<html lang="en-US" dir="ltr" data-navigation-type="default" data-navbar-horizontal-shape="default">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>Phoenix</title>


    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicons/favicon-16x16.png">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicons/favicon.ico">
    <link rel="manifest" href="assets/img/favicons/manifest.json">
    <meta name="msapplication-TileImage" content="assets/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">
    <script src="vendors/simplebar/simplebar.min.js"></script>
    <script src="assets/js/config.js"></script>


    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&amp;display=swap" rel="stylesheet">
    <link href="vendors/simplebar/simplebar.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    <link href="assets/css/theme-rtl.min.css" type="text/css" rel="stylesheet" id="style-rtl">
    <link href="assets/css/theme.min.css" type="text/css" rel="stylesheet" id="style-default">
    <link href="assets/css/user-rtl.min.css" type="text/css" rel="stylesheet" id="user-style-rtl">
    <link href="assets/css/user.min.css" type="text/css" rel="stylesheet" id="user-style-default">
    <script>
        var phoenixIsRTL = window.config.config.phoenixIsRTL;
        if (phoenixIsRTL) {
            var linkDefault = document.getElementById('style-default');
            var userLinkDefault = document.getElementById('user-style-default');
            linkDefault.setAttribute('disabled', true);
            userLinkDefault.setAttribute('disabled', true);
            document.querySelector('html').setAttribute('dir', 'rtl');
        } else {
            var linkRTL = document.getElementById('style-rtl');
            var userLinkRTL = document.getElementById('user-style-rtl');
            linkRTL.setAttribute('disabled', true);
            userLinkRTL.setAttribute('disabled', true);
        }
    </script>
    <link href="vendors/leaflet/leaflet.css" rel="stylesheet">
    <link href="vendors/leaflet.markercluster/MarkerCluster.css" rel="stylesheet">
    <link href="vendors/leaflet.markercluster/MarkerCluster.Default.css" rel="stylesheet">
</head>


<body>

<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<main class="main" id="top">
    <nav class="navbar navbar-vertical navbar-expand-lg">
        <div class="collapse navbar-collapse" id="navbarVerticalCollapse">

<!-- scrollbar removed-->
<div class="navbar-vertical-content">
    <ul class="navbar-nav flex-column" id="navbarVerticalNav">
        <li class="nav-item">

            <!-- parent pages-->
            <div class="nav-item-wrapper"><a class="nav-link dropdown-indicator label-1" href="#nv-email" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="nv-email">
                <div class="d-flex align-items-center">
                    <div class="dropdown-indicator-icon-wrapper"><span class="fas fa-caret-right dropdown-indicator-icon"></span></div><span class="nav-link-icon"><span data-feather="mail"></span></span><span class="nav-link-text">수주관리</span>
                </div>
            </a>
                <div class="parent-wrapper label-1">
                    <ul class="nav collapse parent" data-bs-parent="#navbarVerticalCollapse" id="nv-email">
                        <li class="collapsed-nav-item-title d-none">수주관리
                        </li>
                        <li class="nav-item"><a class="nav-link" href="/orders">
                            <div class="d-flex align-items-center"><span class="nav-link-text">수주 현황</span>
                            </div>
                        </a>
                            <!-- more inner pages-->
                        </li>
                    </ul>
                </div>
            </div>
            <!-- parent pages-->
            <div class="nav-item-wrapper"><a class="nav-link dropdown-indicator label-1" href="#nv-events" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="nv-email">
                <div class="d-flex align-items-center">
                    <div class="dropdown-indicator-icon-wrapper"><span class="fas fa-caret-right dropdown-indicator-icon"></span></div><span class="nav-link-icon"><span data-feather="mail"></span></span><span class="nav-link-text">자재관리</span>
                </div>
            </a>
                <div class="parent-wrapper label-1">
                    <ul class="nav collapse parent" data-bs-parent="#navbarVerticalCollapse" id="nv-events">
                        <li class="collapsed-nav-item-title d-none">자재관리
                        </li>
                        <li class="nav-item"><a class="nav-link" href="/data/materialOrders">
                            <div class="d-flex align-items-center"><span class="nav-link-text">발주 현황</span>
                            </div>
                        </a>
                            <!-- more inner pages-->
                        </li>
                        <li class="nav-item"><a class="nav-link" href="/data/materialInOut">
                            <div class="d-flex align-items-center"><span class="nav-link-text">입출고 현황</span>
                            </div>
                        </a>
                            <!-- more inner pages-->
                        </li>
                        <li class="nav-item"><a class="nav-link" href="/MaterialInventoryChart">
                            <div class="d-flex align-items-center"><span class="nav-link-text">자재 재고 현황</span>
                            </div>
                        </a>
                            <!-- more inner pages-->
                        </li>
                    </ul>
                </div>
            </div>
            <!-- parent pages-->
            <div class="nav-item-wrapper"><a class="nav-link dropdown-indicator label-1" href="#nv-kanban" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="nv-email">
                <div class="d-flex align-items-center">
                    <div class="dropdown-indicator-icon-wrapper"><span class="fas fa-caret-right dropdown-indicator-icon"></span></div><span class="nav-link-icon"><span data-feather="mail"></span></span><span class="nav-link-text">생산관리</span>
                </div>
            </a>
                <div class="parent-wrapper label-1">
                    <ul class="nav collapse parent" data-bs-parent="#navbarVerticalCollapse" id="nv-kanban">
                        <li class="collapsed-nav-item-title d-none">생산관리
                        </li>
                        <li class="nav-item"><a class="nav-link" href="/c">
                            <div class="d-flex align-items-center"><span class="nav-link-text">작업계획</span>
                            </div>
                        </a>
                            <!-- more inner pages-->
                        </li>
                        <li class="nav-item"><a class="nav-link" href="/data/workOrders">
                            <div class="d-flex align-items-center"><span class="nav-link-text">작업지시</span>
                            </div>
                        </a>
                            <!-- more inner pages-->
                        </li>
                    </ul>
                </div>
            </div>
            <!-- parent pages-->
            <div class="nav-item-wrapper"><a class="nav-link dropdown-indicator label-1" href="#nv-social" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="nv-email">
                <div class="d-flex align-items-center">
                    <div class="dropdown-indicator-icon-wrapper"><span class="fas fa-caret-right dropdown-indicator-icon"></span></div><span class="nav-link-icon"><span data-feather="mail"></span></span><span class="nav-link-text">출하관리</span>
                </div>
            </a>
                <div class="parent-wrapper label-1">
                    <ul class="nav collapse parent" data-bs-parent="#navbarVerticalCollapse" id="nv-social">
                        <li class="collapsed-nav-item-title d-none">출하관리
                        </li>
                        <li class="nav-item"><a class="nav-link" href="/data/shipments">
                            <div class="d-flex align-items-center"><span class="nav-link-text">출하 현황</span>
                            </div>
                        </a>
                            <!-- more inner pages-->
                        </li>
                    </ul>
                </div>
            </div>
            <!-- parent pages-->
            <div class="nav-item-wrapper"><a class="nav-link dropdown-indicator label-1" href="#nv-faq" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="nv-email">
                <div class="d-flex align-items-center">
                    <div class="dropdown-indicator-icon-wrapper"><span class="fas fa-caret-right dropdown-indicator-icon"></span></div><span class="nav-link-icon"><span data-feather="mail"></span></span><span class="nav-link-text">현황관리</span>
                </div>
            </a>
                <div class="parent-wrapper label-1">
                    <ul class="nav collapse parent" data-bs-parent="#navbarVerticalCollapse" id="nv-faq">
                        <li class="collapsed-nav-item-title d-none">현황관리
                        </li>
                        <li class="nav-item"><a class="nav-link" href="#">
                            <div class="d-flex align-items-center"><span class="nav-link-text">공정별 생산량</span>
                            </div>
                        </a>
                            <!-- more inner pages-->
                        </li>
                        <li class="nav-item"><a class="nav-link" href="/inventoryChart">
                            <div class="d-flex align-items-center"><span class="nav-link-text">완제품 재고 현황</span>
                            </div>
                        </a>
                            <!-- more inner pages-->
                        </li>
                        <li class="nav-item"><a class="nav-link" href="/data/inventories">
                            <div class="d-flex align-items-center"><span class="nav-link-text">완제품 입출고 현황</span>
                            </div>
                        </a>
                            <!-- more inner pages-->
                        </li>
                        <li class="nav-item"><a class="nav-link" href="#">
                            <div class="d-flex align-items-center"><span class="nav-link-text">기간별 생산량</span>
                            </div>
                        </a>
                            <!-- more inner pages-->
                        </li>
                        <li class="nav-item"><a class="nav-link" href="/pc">
                            <div class="d-flex align-items-center"><span class="nav-link-text">생산 제품 현황</span>
                            </div>
                        </a>
                            <!-- more inner pages-->
                        </li>
                        <li class="nav-item"><a class="nav-link" href="/p">
                            <div class="d-flex align-items-center"><span class="nav-link-text">업체별 수주 현황</span>
                            </div>
                        </a>
                            <!-- more inner pages-->
                        </li>
                    </ul>
                </div>
            </div>
            <!-- parent pages-->
            <div class="nav-item-wrapper"><a class="nav-link dropdown-indicator label-1" href="#nv-landing" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="nv-email">
                <div class="d-flex align-items-center">
                    <div class="dropdown-indicator-icon-wrapper"><span class="fas fa-caret-right dropdown-indicator-icon"></span></div><span class="nav-link-icon"><span data-feather="mail"></span></span><span class="nav-link-text">설비관리</span>
                </div>
            </a>
                <div class="parent-wrapper label-1">
                    <ul class="nav collapse parent" data-bs-parent="#navbarVerticalCollapse" id="nv-landing">
                        <li class="collapsed-nav-item-title d-none">설비관리
                        </li>
                        <li class="nav-item"><a class="nav-link" href="#">
                            <div class="d-flex align-items-center"><span class="nav-link-text">설비 현황</span>
                            </div>
                        </a>
                            <!-- more inner pages-->
                        </li>
                    </ul>
                </div>
            </div>
            <!-- parent pages-->
            <div class="nav-item-wrapper"><a class="nav-link dropdown-indicator label-1" href="#nv-pricing" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="nv-email">
                <div class="d-flex align-items-center">
                    <div class="dropdown-indicator-icon-wrapper"><span class="fas fa-caret-right dropdown-indicator-icon"></span></div><span class="nav-link-icon"><span data-feather="mail"></span></span><span class="nav-link-text">기준정보 관리</span>
                </div>
            </a>
                <div class="parent-wrapper label-1">
                    <ul class="nav collapse parent" data-bs-parent="#navbarVerticalCollapse" id="nv-pricing">
                        <li class="collapsed-nav-item-title d-none">기준정보 관리
                        </li>
                        <li class="nav-item"><a class="nav-link" href="#">
                            <div class="d-flex align-items-center"><span class="nav-link-text">원자재 정보</span>
                            </div>
                        </a>
                            <!-- more inner pages-->
                        </li>
                        <li class="nav-item"><a class="nav-link" href="#">
                            <div class="d-flex align-items-center"><span class="nav-link-text">제품 정보</span>
                            </div>
                        </a>
                            <!-- more inner pages-->
                        </li>
                        <li class="nav-item"><a class="nav-link" href="#">
                            <div class="d-flex align-items-center"><span class="nav-link-text">공정 정보</span>
                            </div>
                        </a>
                            <!-- more inner pages-->
                        </li>
                        <li class="nav-item"><a class="nav-link" href="#">
                            <div class="d-flex align-items-center"><span class="nav-link-text">라우팅 정보</span>
                            </div>
                        </a>
                            <!-- more inner pages-->
                        </li>
                        <li class="nav-item"><a class="nav-link" href="/vendor">
                            <div class="d-flex align-items-center"><span class="nav-link-text">업체 정보 및 관리</span>
                            </div>
                        </a>
                            <!-- more inner pages-->
                        </li>
                        <li class="nav-item"><a class="nav-link" href="/trace">
                            <div class="d-flex align-items-center"><span class="nav-link-text">추적 관리</span>
                            </div>
                        </a>
                            <!-- more inner pages-->
                        </li>
                    </ul>
                </div>
            </div>

        </li>
    </ul>
</div>
        </div>
    </nav>
</main>
</body>