<div class="sidebar">
    <div>
        <h2 class="logo"><a href="#">MES</a></h2>
    </div>
    <ul>
        <li>
            <a href="#" class="sidebar-btn">수주관리</a>
            <ul class="sub-menu">
                <li><a href="/orders">수주 현황</a></li>
            </ul>
        </li>
        <li>
            <a href="#" class="sidebar-btn">자재관리</a>
            <ul class="sub-menu">
                <li><a href="/data/materialOrders">발주 현황</a></li>
                <li><a href="/data/materialInOut">입출고 현황</a></li>
            </ul>
        </li>
        <li>
            <a href="#" class="sidebar-btn">생산관리</a>
            <ul class="sub-menu">
                <li><a href="/c">작업 계획</a></li>
                <li><a href="/data/workOrders">작업 지시</a></li>

            </ul>
        </li>
        <li>
            <a href="#" class="sidebar-btn">현황관리</a>
            <ul class="sub-menu">
                <li><a href="#">공정별 생산량</a></li>
                <li><a href="/inventoryChart">완제품 재고 현황</a></li>
                <li><a href="/inventorys">완제품 입출고 현황</a></li>
                <li><a href="#">기간별 생산량</a></li>
                <li><a href="/pc">생산 제품 현황</a></li>
                <li><a href="/p">업체별 수주 현황</a></li>
            </ul>
        </li>
        <li>
            <a href="#" class="sidebar-btn">설비관리</a>
            <ul class="sub-menu">
                <li><a href="#">설비 현황</a></li>

            </ul>
        </li>
        <li>
            <a href="#" class="sidebar-btn">기준정보관리</a>
            <ul class="sub-menu">
                <li><a href="#">원자재 정보</a></li>
                <li><a href="#">제품 정보</a></li>
                <li><a href="#">공정 정보</a></li>
                <li><a href="#">라우팅 정보</a></li>
                <li><a href="/vendor">업체 정보 및 관리</a></li>
            </ul>
        </li>
    </ul>
</div>