.sidebar {
    height: 100%;
    width: 250px; /* 사이드바의 고정 폭 */
    position: fixed; /* 고정 위치 */
    top: 0;
    left: 0;
    background-color: skyblue;
    overflow: auto;
}

.logo {
    margin-top: 0;
    background-color: #6495ED;
    height: 150px; /* 높이 150px */
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar h2 a {
    font-weight: bold; /* 두꺼운 고딕체 */
    font-family: 'Arial', sans-serif; /* 고딕체 */
    font-size: 60px;
    color: white; /* 글자색 하얀색 */
    background-color: black; /* 글자 주변 바탕색 검정색 */
    padding: 2px; /* 글자 주변 여백 */
    text-decoration: none; /* 링크 밑줄 제거 */
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px;
    text-align: left;
}

.sidebar ul li a {
    font-size: 18px;
    color: white;
    text-decoration: none;
    display: block;
}

.sidebar ul li a:hover {
    background-color: #575757;
}

.sidebar ul li a.sidebar-btn {
    font-weight: bold; /* 상위 리스트의 버튼 글자를 두껍게 설정 */
}

.content {
    margin-left: 250px; /* 사이드바의 폭만큼 왼쪽 마진 */
    padding: 20px;
}

.sub-menu {
    display: none; /* 기본적으로 하위 메뉴는 숨김 */
}

.sub-menu.show {
    display: block; /* show 클래스가 추가되면 보이도록 설정 */
}