<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="/css/sidebar.css">
    <title>설비 정보</title>

    <style>
        <!--  사이드바 CSS 시작    -->
        body {
            margin: 0;
            font-family: Arial, sans-serif;
        }

        .content {
            margin-left: 250px; /* 사이드바의 폭만큼 왼쪽 마진 */
            padding: 20px;
        }

        .table td {
            text-align: center;
        }

    </style>
</head>
<body>

    <div class="sidebar">
        <div>
            <h2 class="logo"><a href="#">MES</a></h2>
        </div>
        <ul>
            <li>
                <a href="#" class="sidebar-btn">수주관리</a>
                <ul class="sub-menu">
                    <li><a href="#">주문 등록</a></li>
                    <li><a href="#">주문 조회</a></li>
                    <li><a href="#">주문 수정</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="sidebar-btn">자재관리</a>
                <ul class="sub-menu">
                    <li><a href="#">재고 관리</a></li>
                    <li><a href="#">발주 관리</a></li>
                    <li><a href="#">입고 처리</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="sidebar-btn">생산관리</a>
                <ul class="sub-menu">
                    <li><a href="#">작업 계획</a></li>
                    <li><a href="#">공정 관리</a></li>
                    <li><a href="#">품질 관리</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="sidebar-btn">현황관리</a>
                <ul class="sub-menu">
                    <li><a href="#">실적 현황</a></li>
                    <li><a href="#">품질 현황</a></li>
                    <li><a href="#">비용 현황</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="sidebar-btn">설비관리</a>
                <ul class="sub-menu">
                    <li><a href="#">설비 목록</a></li>
                    <li><a href="#">설비 점검</a></li>
                    <li><a href="#">설비 유지보수</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="sidebar-btn">기준정보관리</a>
                <ul class="sub-menu">
                    <li><a href="#">고객 정보</a></li>
                    <li><a href="#">공급업체 정보</a></li>
                    <li><a href="#">제품 정보</a></li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="content">
        <h1>설비 정보</h1>

        <table id="equipmentTable" class="display table table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>설비ID</th>
                    <th>설비명</th>
                    <th>설비 공정 유형</th>
                    <th>생산 제품</th>
                    <th>생산 가능량(ea/h)</th>
                    <th>생산 준비 시간(min)</th>
                    <th>Cycle 시간</th>
                    <th>설비 도입 시기</th>
                    <th>설비 상태</th>
                </tr>
            </thead>
        </table>
    </div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/js/sideBar.js"></script>
<script>

    $(document).ready(function() {
        var table = $("#equipmentTable").DataTable({
            "serverSide": true,
            "processing": true,
            "ajax": {
                "url": "/api/equipmentData",
                "type": "POST",
                "dataSrc": function(res) {
                    var data = res.data;
                    return data;
                },
                "data": function(d) {
                    d.searchType = $("#dropdownMenuButton").text().trim(); // 드롭다운에서 선택된 검색 조건
                    d.searchValue = $(".inputText").val(); // 검색어 입력값
                }
            },
            "columns": [
                {"data": "equipmentId"},
                {"data": "equipmentName"},
                {"data": "processType"},
                {"data": "product"},
                {"data": "productionCapacity"},
                {"data": "setupTime"},
                {"data": "cycleHour"},
                {"data": "acquisitionDate"},
                {"data": "equipmentStatus"},
            ]
        });

        // DataTables의 기본 검색 필드 제거
        $("#ordersTable_filter").remove();

    });

</script>

</body>
</html>