<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
    <!-- Datatables CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.css">
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <style>
        /* Center the table */
        div.dataTables_wrapper {
            text-align: center;
        }
        table.dataTable {
            margin: 0 auto;
            width: 80%;
        }
    </style>
</head>
<body>
<div class="container mt-4">

    <!-- 사이드바 영역 -->
    <div th:include="~{fragments/sidebar :: .sidebar}"></div>

    <table id="example" class="display" style="width:100%">
        <thead>
        <tr>
            <th>재고번호</th>
            <th>제품명</th>
            <th>수량</th>
            <th>상태</th>
            <th>생산완료일</th>
            <th><input type="checkbox" name="checkall" id="checkall"></th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>


<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Datatables JS -->
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.js"></script>
<!-- Bootstrap JS -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<!-- Datatables Buttons JS -->
<script src="https://cdn.datatables.net/buttons/2.0.1/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.print.min.js"></script>
<script>
    $(document).ready(function () {
        var table =   $('#example').DataTable({
            "processing": true,
            "serverSide": true,
            "paging": true,
            "pageLength": 10,
            "searching": true,
            "lengthChange": true,
            "ordering": true,
            "info": true,
            "ajax": {
                "url": "/inventoryData",
                "type": "POST"
            },
            "columns": [
                {"data": "inventoryId"},
                {"data": "productName"},
                {"data": "quantity"},
                {
                    "data": "inventoryStatus",
                    "render": function (data, type, row, meta) {
                        switch (data) {
                            case 'PENDINGSTORAGE':
                                return '입고대기';
                            case 'STORAGECOMPLETED':
                                return '입고완료';
                            case 'RETRIEVALCOMPLETED':
                                return '출고완료';
                            default:
                                return data;
                        }
                    }
                },
                 {"data": "completedDate"}
            ],
            columnDefs: [
                {
                    targets: 7,
                    orderable: false,
                    className: "select-checkbox",
                    render: function () {
                        return '<input type="checkbox" name="id[]" value="">';
                    }
                }
            ],
            select: {
                style: "multi",
                selector: "td:first-child"
            },
            "dom": '<"d-flex justify-content-between"lfB>tipr<"d-flex justify-content-between">',
            buttons: [
                {
                    "extend": 'excelHtml5',
                    "text": '엑셀 다운로드',
                    "className": 'btn btn-outline-primary excelBtn',
                    "title": '재고 데이터'
                },
                {
                    "text": '입고',
                    "className": 'btn btn-success',
                    "action": function () {
                        // 버튼 클릭 시 실행할 동작

                    }
                }

            ]
        });

        $('#example tbody').on('click', 'input[type="checkbox"]', function () {
            var data = table.row($(this).closest('tr')).data();

        });
        function updateOrderStatus() {

            var selectedData = [];
            $('#example tbody input[type="checkbox"]:checked').each(function () {
                var data = table.row($(this).closest('tr')).data();
                selectedData.push(data);
            });

            var inventoryIds = selectedData.map(function (item) {
                return item.inventoryId;
            });

            if (inventoryIds.length > 0) {
                $.ajax({
                    url: '/inventoryIn',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({ inventoryIds: inventoryIds}),
                    success: function () {
                        table.ajax.reload();
                    },
                    error: function (error) {
                        console.error("Error updating order status: ", error);
                    }
                });
            } else {
                alert(" 최소한 하나 이상의 데이터 행을 체크해주세요. ");
            }
        }

        $('#checkall').on('click', function(){
            var rows = table.rows({ 'search': 'applied' }).nodes();
            $('input[type="checkbox"]', rows).prop('checked', this.checked);
        });

        // Handle click on individual checkbox to maintain state of "select-all" checkbox
        $('#example tbody').on('change', 'input[type="checkbox"]', function(){
            if(!this.checked){
                var el = $('#checkall').get(0);
                if(el && el.checked && ('indeterminate' in el)){
                    el.indeterminate = true;
                }
            }
        });
    });
</script>
</body>
</html>