<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="/css/sidebar.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <title>원자재 주문 정보</title>

    <style>
        <!--  사이드바 CSS 시작    -->
        body {
            margin: 0;
            font-family: Arial, sans-serif;
        }

        .content {
            margin-left: 250px; /* 사이드바의 폭만큼 왼쪽 마진 */
            padding: 20px;
        }

        .table td {
            text-align: center;
        }

    </style>
</head>
<body>

<div class="sidebar">
    <div>
        <h2 class="logo"><a href="#">MES</a></h2>
    </div>
    <ul>
        <li>
            <a href="#" class="sidebar-btn">수주관리</a>
            <ul class="sub-menu">
                <li><a href="#">주문 등록</a></li>
                <li><a href="#">주문 조회</a></li>
                <li><a href="#">주문 수정</a></li>
            </ul>
        </li>
        <li>
            <a href="#" class="sidebar-btn">자재관리</a>
            <ul class="sub-menu">
                <li><a href="#">재고 관리</a></li>
                <li><a href="#">발주 관리</a></li>
                <li><a href="#">입고 처리</a></li>
            </ul>
        </li>
        <li>
            <a href="#" class="sidebar-btn">생산관리</a>
            <ul class="sub-menu">
                <li><a href="#">작업 계획</a></li>
                <li><a href="#">공정 관리</a></li>
                <li><a href="#">품질 관리</a></li>
            </ul>
        </li>
        <li>
            <a href="#" class="sidebar-btn">현황관리</a>
            <ul class="sub-menu">
                <li><a href="#">실적 현황</a></li>
                <li><a href="#">품질 현황</a></li>
                <li><a href="#">비용 현황</a></li>
            </ul>
        </li>
        <li>
            <a href="#" class="sidebar-btn">설비관리</a>
            <ul class="sub-menu">
                <li><a href="#">설비 목록</a></li>
                <li><a href="#">설비 점검</a></li>
                <li><a href="#">설비 유지보수</a></li>
            </ul>
        </li>
        <li>
            <a href="#" class="sidebar-btn">기준정보관리</a>
            <ul class="sub-menu">
                <li><a href="#">고객 정보</a></li>
                <li><a href="#">공급업체 정보</a></li>
                <li><a href="#">제품 정보</a></li>
            </ul>
        </li>
    </ul>
</div>

<div class="content">
    <h1>원자재 주문 정보</h1>

    <table id="materialTable" class="display table table-bordered" style="width:100%">
        <thead>
        <tr>
            <th>원자재 ID</th>
            <th>원자재 명</th>
            <th>발주 업체</th>
            <th>최소 주문 수량</th>
            <th>최대 주문 수량</th>
            <th>입고 리드 타임(h)</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>MT-01-01</td>
            <td>양배추</td>
            <td>에이농장</td>
            <td>100kg</td>
            <td>2000kg</td>
            <td>48h</td>
        </tr>
        <tr>
            <td>MT-01-02</td>
            <td>흑마늘</td>
            <td>에이농장</td>
            <td>100kg</td>
            <td>2000kg</td>
            <td>48h</td>
        </tr>
        <tr>
            <td>MT-01-03</td>
            <td>벌꿀</td>
            <td>에이농장</td>
            <td>1L</td>
            <td>200L</td>
            <td>48h</td>
        </tr>
        <tr>
            <td>MT-02-01</td>
            <td>석류(농축액)</td>
            <td>OO농협</td>
            <td>20L</td>
            <td>200L</td>
            <td>72h</td>
        </tr>
        <tr>
            <td>MT-02-02</td>
            <td>매실(농축액)</td>
            <td>OO농협</td>
            <td>20L</td>
            <td>200L</td>
            <td>72h</td>
        </tr><tr>
            <td>MT-02-03</td>
            <td>콜라겐</td>
            <td>OO농협</td>
            <td>20L</td>
            <td>200L</td>
            <td>72h</td>
        </tr>
        <tr>
            <td>MT-03-01</td>
            <td>포장지</td>
            <td>OO포장</td>
            <td>10000ea</td>
            <td>100000ea</td>
            <td>168h</td>
        </tr>
        <tr>
            <td>MT-03-02</td>
            <td>Box</td>
            <td>OO포장</td>
            <td>1000ea</td>
            <td>10000ea</td>
            <td>72h</td>
        </tr>
        </tbody>
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/js/sidebar.js"></script>
<script>

    $(document).ready(function() {
        $('#materialTable').DataTable();
    });

    // DataTables의 기본 검색 필드 제거
    $("#materialTable_filter").remove();

</script>

</body>
</html>