<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
</head>

<body>

    <label for="selectBox">검색 조건:</label>
    <select id="selectBox">
        <option value="option1">옵션 1</option>
        <option value="option2">옵션 2</option>
        <option value="option3">옵션 3</option>
        <option value="option4">옵션 4</option>
    </select>

    <input type="text" placeholder="검색어를 입력하세요...">

    <table id="ordersTable" class="display table table-bordered">
        <thead>
            <tr>
                <th>수주번호</th>
                <th>제품명</th>
                <th>수량</th>
                <th>고객명(업체)</th>
                <th>납품 장소</th>
                <th>납품일</th>
                <th>상태</th>
            </tr>
        </thead>
    </table>

</body>

<script>

    $("#ordersTable").DataTable({
        "serverSide":true,
        "processing":true,
        "ajax":{
            "url":"/api/ordersData",
            "type":"POST",
            "dataSrc":"data",
        },
        "columns":[
            {"data":"orderId"},
            {"data":"productName"},
            {"data":"quantity"},
            {"data":"vendorName"},
            {"data":"deliveryAddress"},
            {"data":"deliveryDate"},
            {"data":"ordersStatus"},
        ]
    });

    $("#ordersTable_filter").remove();

</script>
</html>