<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Orders Management</title>
    <!-- Datatables CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.css">
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- FullCalendar CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css" rel="stylesheet">
    <style>
        /* Center the table */
        div.dataTables_wrapper {
            text-align: center;
        }

        table.dataTable {
            margin: 0 auto;
            width: 80%;
        }

    </style>
</head>
<body>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Datatables JS -->
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.js"></script>
<!-- Bootstrap JS -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<!-- FullCalendar JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js"></script>
<!-- Datatables Buttons JS -->
<script src="https://cdn.datatables.net/buttons/2.0.1/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.print.min.js"></script>

<div class="container mt-4">
    <button type="button" class="btn btn-primary mb-4 float-right" data-toggle="modal" data-target="#orderModal">
        수주 등록
    </button>

    <table id="example" class="display" style="width:100%">
        <thead>
        <tr>
            <th>주문번호</th>
            <th>제품명</th>
            <th>고객명</th>
            <th>수량</th>
            <th>납품주소</th>
            <th>납품일</th>
            <th>상태</th>
            <th><input type="checkbox" name="checkall" id="checkall"></th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <div style="margin-top:5px;" >
    <button type="button" id="shipButton" class="btn btn-success float-right">출하</button>
    <button type="button" id="deliverButton" class="btn btn-info float-right" style="margin-right: 10px;">배송완료</button>
    </div>
</div>

<!-- Order Modal -->
<div class="modal fade" id="orderModal" tabindex="-1" role="dialog" aria-labelledby="orderModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="orderModalLabel">Create Order</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="orderForm">
                    <div class="form-group">
                        <label for="productName">Product</label>
                        <select class="form-control" id="productName" name="productName" required>
                            <option value="양배추 즙">양배추 즙</option>
                            <option value="흑마늘 즙">흑마늘 즙</option>
                            <option value="석류 젤리스틱">석류 젤리스틱</option>
                            <option value="매실 젤리스틱">매실 젤리스틱</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="quantity">Quantity(Box)</label>
                        <input type="number" class="form-control" id="quantity" name="quantity" min="20" max="1000" required>
                    </div>
                    <div class="form-group">
                        <label for="vendorName">Vendor</label>
                        <select class="form-control" id="vendorName" name="vendorName" required>
                            <!-- Options will be populated by JavaScript -->
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="deliveryDate">Delivery Date</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="deliveryDate" name="deliveryDate" readonly
                                   required>
                            <div class="input-group-append">
                                <button type="button" class="btn btn-outline-secondary" id="selectDeliveryDate">Select
                                    Date
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="deliveryAddress">Delivery Address</label>
                        <input type="text" class="form-control" id="deliveryAddress" name="deliveryAddress" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- FullCalendar Modal -->
<div class="modal fade" id="calendarModal" tabindex="-1" role="dialog" aria-labelledby="calendarModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width:800px">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="calendarModalLabel">Select Delivery Date</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="calendar"></div>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        var table = $('#example').DataTable({
            "processing": true,
            "serverSide": true,
            "paging": true,
            "pageLength": 10,
            "searching": true,
            "lengthChange": true,
            "ordering": true,
            "info": true,
            "ajax": {
                "url": "/orderData",
                "type": "POST",
            },
            "columns": [
                {"data": "orderId"},
                {"data": "productName"},
                {"data": "vendorName"},
                {"data": "quantity"},
                {"data": "deliveryAddress"},
                {"data": "deliveryDate"},
                {
                    "data": "ordersStatus",
                    "render": function (data) {
                        switch (data) {
                            case 'PENDINGSTORAGE':
                                return '원자재 입고전';
                            case 'STORAGECOMPLETED':
                                return '원자재 입고완료';
                            case 'PRODUCTIONCOMPLETED':
                                return '생산완료';
                            case 'RETRIEVALCOMPLETED':
                                return '출하완료';
                            case 'DELIVERED':
                                return '배송완료';
                            default:
                                return data;
                        }
                    }
                },
                {"data": null},
            ],
            columnDefs: [
                {
                    targets: 7,
                    orderable: false,
                    className: "select-checkbox",
                    render: function () {
                        return '<input type="checkbox" name="id[]" value="">';
                    }
                }
            ],
            select: {
                style: "multi",
                selector: "td:first-child"
            },
            "dom": '<"d-flex justify-content-between"lfB>tipr<"d-flex justify-content-between">',
            buttons: [
                {
                    "extend": 'excelHtml5',
                    "text": '엑셀 다운로드',
                    "className": 'btn btn-outline-primary excelBtn',
                    "title": '수주 데이터'
                }
            ]
        });

        $('#example tbody').on('click', 'input[type="checkbox"]', function () {
            var data = table.row($(this).closest('tr')).data();

        });

        function updateOrderStatus(status) {

            var selectedData = [];
            $('#example tbody input[type="checkbox"]:checked').each(function () {
                var data = table.row($(this).closest('tr')).data();
                selectedData.push(data);
            });

            var orderIds = selectedData.map(function (item) {
                return item.orderId;
            });

            if (orderIds.length > 0) {
                $.ajax({
                    url: '/updateOrderStatus',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({ orderIds: orderIds, status: status }),
                    success: function () {
                        table.ajax.reload();
                    },
                    error: function (error) {
                        console.error("Error updating order status: ", error);
                    }
                });
            } else {
                alert(" 최소한 하나 이상의 데이터 행을 체크해주세요. ");
            }
        }

        $('#checkall').on('click', function(){
            var rows = table.rows({ 'search': 'applied' }).nodes();
            $('input[type="checkbox"]', rows).prop('checked', this.checked);
        });

        // Handle click on individual checkbox to maintain state of "select-all" checkbox
        $('#example tbody').on('change', 'input[type="checkbox"]', function(){
            if(!this.checked){
                var el = $('#checkall').get(0);
                if(el && el.checked && ('indeterminate' in el)){
                    el.indeterminate = true;
                }
            }
        });

        $('#shipButton').on('click', function () {
            var canShip = true;
            $('#example tbody input[type="checkbox"]:checked').each(function () {
                var data = table.row($(this).closest('tr')).data();
                if (data.ordersStatus !== 'PRODUCTIONCOMPLETED') {
                    canShip = false;
                    return false;
                }
            });

            if (canShip) {
                updateOrderStatus('RETRIEVALCOMPLETED');
                alert("출하가 완료되었습니다.");
            } else {
                alert("출하 버튼은 상태가 (생산완료)인 경우에만 사용할 수 있습니다.");
            }
        });

        $('#deliverButton').on('click', function () {
            var canDeliver = true;
            $('#example tbody input[type="checkbox"]:checked').each(function () {
                var data = table.row($(this).closest('tr')).data();
                console.log('Order data:', data);
                if (data.ordersStatus !== 'RETRIEVALCOMPLETED') {
                    canDeliver = false;
                    return false;
                }
            });

            if (canDeliver) {
                updateOrderStatus('DELIVERED');
                alert("배송이 완료되었습니다.");
            } else {
                alert("배송완료 버튼은 상태가 (출하완료)인 경우에만 사용할 수 있습니다.");
            }
        });


        function populateSelects() {
            $.ajax({
                url: '/get-vendors',
                type: 'GET',
                success: function (data) {
                    $('#vendorName').empty();
                    $('#vendorName').append('<option value="">Select Vendor</option>');
                    data.forEach(customer => {
                        $('#vendorName').append(`<option value="${customer.vendorName}">${customer.vendorName}</option>`);
                    });
                },
                error: function (error) {
                    console.error("Error fetching customers: ", error);
                }
            });
        }

        populateSelects();

        $('#selectDeliveryDate').on('click', function () {
            $('#calendarModal').modal('show');
        });

        $('#calendar').fullCalendar({
            selectable: true,
            select: function (startDate) {
                $('#deliveryDate').val(startDate.format('YYYY-MM-DD'));
                $('#calendarModal').modal('hide');
            }
        });

        $('#orderForm').on('submit', function (e) {
            e.preventDefault();

            var formData = $(this).serialize();
            var productName = $('#productName').val();
            var quantity = $('#quantity').val();
            var vendorName = $('#vendorName').val();
            var deliveryDate = $('#deliveryDate').val();
            var deliveryAddress = $('#deliveryAddress').val();

            var confirmationMessage = `제품명: ${productName}\n`;
            confirmationMessage += `수량: ${quantity}\n`;
            confirmationMessage += `고객명: ${vendorName}\n`;
            confirmationMessage += `납품일자: ${deliveryDate}\n`;
            confirmationMessage += `납품주소: ${deliveryAddress}\n\n`;
            confirmationMessage += `위 수주내용을 등록하시겠습니까?`;

            if (confirm(confirmationMessage)) {
                $.ajax({
                    url: '/create-order',
                    type: 'POST',
                    data: formData,
                    success: function (response) {
                        $('#orderModal').modal('hide');
                        table.ajax.reload();
                    },
                    error: function (error) {
                        console.error("Error creating order: ", error);
                    }
                });
            } else {
                return false;
            }
        });


    });
</script>

</body>
</html>
