<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="/css/sidebar.css">
    <title>공정 정보</title>

    <style>
        <!--  사이드바 CSS 시작    -->
        body {
            margin: 0;
            font-family: Arial, sans-serif;
        }

        .content {
            margin-left: 250px; /* 사이드바의 폭만큼 왼쪽 마진 */
            padding: 20px;
        }

        .table td {
            text-align: center;
        }

    </style>
</head>
<body>

<div class="sidebar">
    <div>
        <h2 class="logo"><a href="#">MES</a></h2>
    </div>
    <ul>
        <li>
            <a href="#" class="sidebar-btn">수주관리</a>
            <ul class="sub-menu">
                <li><a href="#">주문 등록</a></li>
                <li><a href="#">주문 조회</a></li>
                <li><a href="#">주문 수정</a></li>
            </ul>
        </li>
        <li>
            <a href="#" class="sidebar-btn">자재관리</a>
            <ul class="sub-menu">
                <li><a href="#">재고 관리</a></li>
                <li><a href="#">발주 관리</a></li>
                <li><a href="#">입고 처리</a></li>
            </ul>
        </li>
        <li>
            <a href="#" class="sidebar-btn">생산관리</a>
            <ul class="sub-menu">
                <li><a href="#">작업 계획</a></li>
                <li><a href="#">공정 관리</a></li>
                <li><a href="#">품질 관리</a></li>
            </ul>
        </li>
        <li>
            <a href="#" class="sidebar-btn">현황관리</a>
            <ul class="sub-menu">
                <li><a href="#">실적 현황</a></li>
                <li><a href="#">품질 현황</a></li>
                <li><a href="#">비용 현황</a></li>
            </ul>
        </li>
        <li>
            <a href="#" class="sidebar-btn">설비관리</a>
            <ul class="sub-menu">
                <li><a href="#">설비 목록</a></li>
                <li><a href="#">설비 점검</a></li>
                <li><a href="#">설비 유지보수</a></li>
            </ul>
        </li>
        <li>
            <a href="#" class="sidebar-btn">기준정보관리</a>
            <ul class="sub-menu">
                <li><a href="#">고객 정보</a></li>
                <li><a href="#">공급업체 정보</a></li>
                <li><a href="#">제품 정보</a></li>
            </ul>
        </li>
    </ul>
</div>

<div class="content">
    <h1>공정별 생산량</h1>

    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">

        <div class="btn-group btn-group-lg" role="group">
            <button type="button" class="btn btn-outline-primary dropdown-toggle" id="processDropdown" data-toggle="dropdown" >
                공정 선택
            </button>
            <ul class="dropdown-menu">
                <li th:each="process : ${processList}">
                    <a class="dropdown-item" href="#" th:text="${process}" th:data-value="${process}"></a>
                </li>
            </ul>
        </div>

        <button type="button" class="btn btn-outline-primary">일별</button>
        <button type="button" class="btn btn-outline-primary">월별</button>

    </div>

    <div>
        <canvas id="halfDoughnut-chart-1" width="500" height="500"></canvas>
        <canvas id="halfDoughnut-chart-2" width="500" height="500"></canvas>
        <canvas id="halfDoughnut-chart-3" width="500" height="500"></canvas>
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/js/sideBar.js"></script>
<script type="text/javascript" src="/js/searchBar.js"></script>
<script>
    let charts =[];

    $(document).ready(function() {
        $.ajax({
            url: '/api/createHalfDoughnutChart',
            method: 'POST',
            data: JSON.stringify({ process: selectedProcess }),
            dataType: 'json',
            success: function(response) {           // 요청 성공 시 실행되는 콜백 함수
                const labels = response.labels;     // 서버에서 받아온 labels 데이터 (Array 형식)
                const data = response.data;         // 서버에서 받아온 data 데이터 (Array 형식)
                const titles = ["가동률", "생산량", "불량률"];

                for (let i = 0; i < labels.length; i++) {
                    if (charts[i]) {
                        updateChart(charts[i], labels[i], data[i], titles[i]);
                    } else {
                        charts[i] = createHalfDoughnutChart(`halfDoughnut-chart-${i + 1}`, labels[i], data[i], titles[i]);
                    }
                }
            },
            error: function(xhr, status, error) {  // 요청 실패 시 실행되는 콜백 함수
                console.error('Error while fetching data:', error);  // 에러 로깅
            }
        });

        $('.dropdown-toggle').dropdown();  // 드롭다운 토글 기능 활성화
    });

    // 차트 생성 메서드
    function createHalfDoughnutChart(containerId, title, labels, data) {
        const ctx = document.getElementById(containerId).getContext('2d');  //ctx = 그래픽 컨텍스트
        const chartData = setHalfDoughnutChartData(labels, data);
        const chartOptions = setHalfDoughnutChartOptions(title);

        new Chart(ctx, {                                    // cavans Id에 차트 할당 및 생성
            type: 'doughnut',                               // 차트 타입 지정
            data: chartData,                                // 차트 데이터 지정
            options: chartOptions                           // 차트 설정 지정
        });
    }

    // 차트 업데이트 메서드
    function updateChart(chart, labels, data, title) {
        chart.data.labels = labels;
        chart.data.datasets[0].data = data;
        chart.options.title.text = title;
        chart.update();
    }

    // 차트 데이터 설정 메서드
    function setHalfDoughnutChartData(labels, data) {
        return {
            labels: labels,                                 // 데이터 범례 이름 => String / List<String>
            datasets: [{
                label: "24시간 대비 생산 시간 비중",
                backgroundColor: ["#87CEEB", "#6495ED"],    // View 차트 데이터 색상 지정
                data: data                                  // 데이터 값 => int / List<int>
            }]
        };
    }

    // 차트 옵션 설정 메서드
    function setHalfDoughnutChartOptions(title) {
        return {
            rotation: 1 * Math.PI,                          // 차트 시작 지점 설정
            circumference: 1 * Math.PI,                     // 차트 들레 설정
            title: {                                        // 차트 제목 설정
                display: true,                              // 차트 제목 표시 유무
                text: title                                 // 차트 제목 텍스트 설정
            }
        };
    }

    // 드롭다운 아이템 클릭 시 실행될 이벤트 리스너
    $(".dropdown-item").click(function() {
        // 선택된 드롭다운 아이템의 data-value 값을 가져옴
        var selectedValue = $(this).attr("data-value");

        // 선택된 값으로 버튼 텍스트 업데이트
        $("#processDropdown").text(selectedValue);
    });

</script>

</body>