<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="/css/sidebar.css">
    <link rel="stylesheet" type="text/css" href="/css/icon.css">
    <link rel="stylesheet" type="text/css" href="/css/datePicker.css">
    <title>공정 정보</title>

    <style>
        <!--  사이드바 CSS 시작    -->
        body {
            margin: 0;
            font-family: Arial, sans-serif;
        }

        .content {
            margin-left: 250px; /* 사이드바의 폭만큼 왼쪽 마진 */
            padding: 20px;
        }

        .table td {
            text-align: center;
        }

    </style>
</head>
<body>

<div class="sidebar">
    <div>
        <h2 class="logo"><a href="#">MES</a></h2>
    </div>
    <ul>
        <li>
            <a href="#" class="sidebar-btn">수주관리</a>
            <ul class="sub-menu">
                <li><a href="#">주문 등록</a></li>
                <li><a href="#">주문 조회</a></li>
                <li><a href="#">주문 수정</a></li>
            </ul>
        </li>
        <li>
            <a href="#" class="sidebar-btn">자재관리</a>
            <ul class="sub-menu">
                <li><a href="#">재고 관리</a></li>
                <li><a href="#">발주 관리</a></li>
                <li><a href="#">입고 처리</a></li>
            </ul>
        </li>
        <li>
            <a href="#" class="sidebar-btn">생산관리</a>
            <ul class="sub-menu">
                <li><a href="#">작업 계획</a></li>
                <li><a href="#">공정 관리</a></li>
                <li><a href="#">품질 관리</a></li>
            </ul>
        </li>
        <li>
            <a href="#" class="sidebar-btn">현황관리</a>
            <ul class="sub-menu">
                <li><a href="#">실적 현황</a></li>
                <li><a href="#">품질 현황</a></li>
                <li><a href="#">비용 현황</a></li>
            </ul>
        </li>
        <li>
            <a href="#" class="sidebar-btn">설비관리</a>
            <ul class="sub-menu">
                <li><a href="#">설비 목록</a></li>
                <li><a href="#">설비 점검</a></li>
                <li><a href="#">설비 유지보수</a></li>
            </ul>
        </li>
        <li>
            <a href="#" class="sidebar-btn">기준정보관리</a>
            <ul class="sub-menu">
                <li><a href="#">고객 정보</a></li>
                <li><a href="#">공급업체 정보</a></li>
                <li><a href="#">제품 정보</a></li>
            </ul>
        </li>
    </ul>
</div>

<div class="content">
    <h1>공정별 생산량</h1>

    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">

        <div class="btn-group btn-group-lg" role="group">
            <button type="button" class="btn btn-outline-primary dropdown-toggle" id="processDropdown"
                    th:text="${btnText}" data-toggle="dropdown">
            </button>
            <ul class="dropdown-menu">
                <li th:each="process : ${processList}">
                    <a class="dropdown-item" href="#" th:text="${process}" th:data-value="${process}"></a>
                </li>
            </ul>
        </div>

        <button type="button" class="btn btn-outline-primary">일별</button>
        <button type="button" class="btn btn-outline-primary">월별</button>

    </div>

    <input type="text" id="datepicker">

    <div>
        <canvas id="chart-1" width="500" height="500"></canvas>
        <canvas id="chart-2" width="500" height="500"></canvas>
        <canvas id="chart-3" width="500" height="500"></canvas>
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/js/sideBar.js"></script>
<script type="text/javascript" src="/js/searchBar.js"></script>
<script type="text/javascript" src="/js/Chart.js"></script>
<script type="text/javascript" src="/js/datePicker.js"></script>
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.14/index.global.min.js'></script>
<script>
    let charts =[];
    let initDate = new Date();

    // 년, 월, 일 추출
    const year = initDate.getFullYear();   // 년도
    const month = ('0' + (initDate.getMonth() + 1)).slice(-2); // 월 (0부터 시작하므로 +1), 두 자리로 포맷팅
    const day = ('0' + initDate.getDate()).slice(-2);        // 일, 두 자리로 포맷팅

    // yy-mm-dd 형식으로 포맷팅
    const searchDate = `${year}-${month}-${day}`;

    // document의 최초 로드의 경우 1.공정 선택란 초기값과 2. 현재 일자 기준으로 Data 불러와 chart 비동기 구현
    $(document).ready(function() {
        let btnText = $('#processDropdown').text().trim();

        fetchChartData(btnText, searchDate);

    });


    $('.dropdown-toggle').dropdown();  // 드롭다운 토글 기능 활성화

    // 드롭다운 아이템 클릭 시 실행될 이벤트 리스너
    $(".dropdown-item").click(function() {
        // 선택된 드롭다운 아이템의 data-value 값을 가져옴
        var selectedValue = $(this).attr("data-value");

        // 선택된 값으로 버튼 텍스트 업데이트
        $("#processDropdown").text(selectedValue);
    });

</script>

</body>