<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="/css/sidebar.css">
    <title>공정 정보</title>

    <style>
        <!--  사이드바 CSS 시작    -->
        body {
            margin: 0;
            font-family: Arial, sans-serif;
        }

        .content {
            margin-left: 250px; /* 사이드바의 폭만큼 왼쪽 마진 */
            padding: 20px;
        }

        .table td {
            text-align: center;
        }

    </style>
</head>
<body>

<div class="sidebar">
    <div>
        <h2 class="logo"><a href="#">MES</a></h2>
    </div>
    <ul>
        <li>
            <a href="#" class="sidebar-btn">수주관리</a>
            <ul class="sub-menu">
                <li><a href="#">주문 등록</a></li>
                <li><a href="#">주문 조회</a></li>
                <li><a href="#">주문 수정</a></li>
            </ul>
        </li>
        <li>
            <a href="#" class="sidebar-btn">자재관리</a>
            <ul class="sub-menu">
                <li><a href="#">재고 관리</a></li>
                <li><a href="#">발주 관리</a></li>
                <li><a href="#">입고 처리</a></li>
            </ul>
        </li>
        <li>
            <a href="#" class="sidebar-btn">생산관리</a>
            <ul class="sub-menu">
                <li><a href="#">작업 계획</a></li>
                <li><a href="#">공정 관리</a></li>
                <li><a href="#">품질 관리</a></li>
            </ul>
        </li>
        <li>
            <a href="#" class="sidebar-btn">현황관리</a>
            <ul class="sub-menu">
                <li><a href="#">실적 현황</a></li>
                <li><a href="#">품질 현황</a></li>
                <li><a href="#">비용 현황</a></li>
            </ul>
        </li>
        <li>
            <a href="#" class="sidebar-btn">설비관리</a>
            <ul class="sub-menu">
                <li><a href="#">설비 목록</a></li>
                <li><a href="#">설비 점검</a></li>
                <li><a href="#">설비 유지보수</a></li>
            </ul>
        </li>
        <li>
            <a href="#" class="sidebar-btn">기준정보관리</a>
            <ul class="sub-menu">
                <li><a href="#">고객 정보</a></li>
                <li><a href="#">공급업체 정보</a></li>
                <li><a href="#">제품 정보</a></li>
            </ul>
        </li>
    </ul>
</div>

<div class="content">
    <h1>공정별 생산량</h1>

    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">

        <div class="btn-group btn-group-lg" role="group">
            <button type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown" >
                공정 선택
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#"></a>세척</li>
                <li><a class="dropdown-item" href="#"></a>추출</li>
                <li><a class="dropdown-item" href="#"></a>전처리</li>
                <li><a class="dropdown-item" href="#"></a>살균</li>
                <li><a class="dropdown-item" href="#"></a>충진</li>
                <li><a class="dropdown-item" href="#"></a>검사</li>
                <li><a class="dropdown-item" href="#"></a>포장</li>
                <li><a class="dropdown-item" href="#"></a>혼합</li>
            </ul>
        </div>

        <button type="button" class="btn btn-outline-primary">일별</button>
        <button type="button" class="btn btn-outline-primary">월별</button>

    </div>

    <div>
        <canvas id="doughnut-chart" width="500" height="500"></canvas>
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/js/sideBar.js"></script>
<script type="text/javascript" src="/js/searchBar.js"></script>
<script>

    new Chart(document.getElementById("doughnut-chart"), {
        type: 'doughnut',
        data: {
            labels: ["생산 시간"],
            datasets: [
                {
                    label: "Population (millions)",
                    backgroundColor: ["#87CEEB", "#6495ED"],
                    data: [98,2]
                }
            ]
        },
        options: {
            responsive: false,
            maintainAspectRatio: false, // false로 설정하면 aspectRatio를 따로 설정할 수 있습니다.
            aspectRatio: 0.1, // 원하는 비율로 조절합니다. 1은 1:1 비율을 의미합니다.
            rotation: 1*Math.PI,
            circumference: 1*Math.PI,
            title: {
                display: true,
                text: '가동률'
            }
        }
    });

</script>

</body>