<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="/css/sidebar.css">
    <title>공정 정보</title>

    <style>
        <!--  사이드바 CSS 시작    -->
        body {
            margin: 0;
            font-family: Arial, sans-serif;
        }

        .content {
            margin-left: 250px; /* 사이드바의 폭만큼 왼쪽 마진 */
            padding: 20px;
        }

        .table td {
            text-align: center;
        }

    </style>
</head>
<body>

<div class="sidebar">
    <div>
        <h2 class="logo"><a href="#">MES</a></h2>
    </div>
    <ul>
        <li>
            <a href="#" class="sidebar-btn">수주관리</a>
            <ul class="sub-menu">
                <li><a href="#">주문 등록</a></li>
                <li><a href="#">주문 조회</a></li>
                <li><a href="#">주문 수정</a></li>
            </ul>
        </li>
        <li>
            <a href="#" class="sidebar-btn">자재관리</a>
            <ul class="sub-menu">
                <li><a href="#">재고 관리</a></li>
                <li><a href="#">발주 관리</a></li>
                <li><a href="#">입고 처리</a></li>
            </ul>
        </li>
        <li>
            <a href="#" class="sidebar-btn">생산관리</a>
            <ul class="sub-menu">
                <li><a href="#">작업 계획</a></li>
                <li><a href="#">공정 관리</a></li>
                <li><a href="#">품질 관리</a></li>
            </ul>
        </li>
        <li>
            <a href="#" class="sidebar-btn">현황관리</a>
            <ul class="sub-menu">
                <li><a href="#">실적 현황</a></li>
                <li><a href="#">품질 현황</a></li>
                <li><a href="#">비용 현황</a></li>
            </ul>
        </li>
        <li>
            <a href="#" class="sidebar-btn">설비관리</a>
            <ul class="sub-menu">
                <li><a href="#">설비 목록</a></li>
                <li><a href="#">설비 점검</a></li>
                <li><a href="#">설비 유지보수</a></li>
            </ul>
        </li>
        <li>
            <a href="#" class="sidebar-btn">기준정보관리</a>
            <ul class="sub-menu">
                <li><a href="#">고객 정보</a></li>
                <li><a href="#">공급업체 정보</a></li>
                <li><a href="#">제품 정보</a></li>
            </ul>
        </li>
    </ul>
</div>

<div class="content">
    <h1>공정 정보</h1>

    <table id="processTable" class="display table table-bordered" style="width:100%">
        <thead>
        <tr>
            <th>공정 ID</th>
            <th>공정 제품 유형</th>
            <th>공정 단계</th>
            <th>공정 설비 내역</th>
            <th>공정 소요 시간</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>PC-01-01</td>
            <td>즙, 젤리</td>
            <td>살균</td>
            <td>살균기(1), 살균기(2)</td>
            <td>2h</td>
        </tr>
        <tr>
            <td>PC-02-01</td>
            <td>즙</td>
            <td>세척</td>
            <td>-</td>
            <td>2h</td>
        </tr>
        <tr>
            <td>PC-02-02</td>
            <td>즙</td>
            <td>추출</td>
            <td>추출기(착즙기)(1), 추출기(착즙기)(2)</td>
            <td>24h</td>
        </tr>
        <tr>
            <td>PC-02-03</td>
            <td>즙</td>
            <td>여과</td>
            <td>여과기</td>
            <td>4h</td>
        </tr>
        <tr>
            <td>PC-02-04</td>
            <td>즙</td>
            <td>충진</td>
            <td>즙 포장기(1), 즙 포장기(2)</td>
            <td>8h</td>
        </tr>
        <tr>
            <td>PC-02-05</td>
            <td>즙</td>
            <td>검사</td>
            <td>금속검출기</td>
            <td>2h</td>
        </tr>
        <tr>
            <td>PC-02-06</td>
            <td>즙</td>
            <td>포장</td>
            <td>Box 포장기</td>
            <td>2h</td>
        </tr>
        <tr>
            <td>PC-03-01</td>
            <td>젤리</td>
            <td>혼합</td>
            <td>혼합기</td>
            <td>8h</td>
        </tr>
        <tr>
            <td>PC-03-02</td>
            <td>젤리</td>
            <td>충진</td>
            <td>젤리스틱 포장기(1), 젤리스틱 포장기(2)</td>
            <td>2h</td>
        </tr>
        <tr>
            <td>PC-03-03</td>
            <td>젤리</td>
            <td>냉각</td>
            <td>-</td>
            <td>8h</td>
        </tr>
        <tr>
            <td>PC-03-04</td>
            <td>젤리</td>
            <td>검사</td>
            <td>금속검출기</td>
            <td>1h</td>
        </tr>
        <tr>
            <td>PC-03-05</td>
            <td>젤리</td>
            <td>포장</td>
            <td>Box 포장기</td>
            <td>1h</td>
        </tr>
        </tbody>
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/js/sideBar.js"></script>
<script>

    $(document).ready(function() {
        $('#processTable').DataTable();
    });

    // DataTables의 기본 검색 필드 제거
    $("#processTable_filter").remove();

</script>

</body>
</html>