<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="/css/sidebar.css">
    <title>작업 지시</title>

    <style>
        <!--  사이드바 CSS 시작    -->
        body {
            margin: 0;
            font-family: Arial, sans-serif;
        }

        .content {
            margin-left: 250px; /* 사이드바의 폭만큼 왼쪽 마진 */
            padding: 20px;
        }

        .table td {
            text-align: center;
        }

    </style>
</head>
<body>

<div class="sidebar">
    <div>
        <h2 class="logo"><a href="#">MES</a></h2>
    </div>
    <ul>
        <li>
            <a href="#" class="sidebar-btn">수주관리</a>
            <ul class="sub-menu">
                <li><a href="#">주문 등록</a></li>
                <li><a href="#">주문 조회</a></li>
                <li><a href="#">주문 수정</a></li>
            </ul>
        </li>
        <li>
            <a href="#" class="sidebar-btn">자재관리</a>
            <ul class="sub-menu">
                <li><a href="#">재고 관리</a></li>
                <li><a href="#">발주 관리</a></li>
                <li><a href="#">입고 처리</a></li>
            </ul>
        </li>
        <li>
            <a href="#" class="sidebar-btn">생산관리</a>
            <ul class="sub-menu">
                <li><a href="#">작업 계획</a></li>
                <li><a href="#">공정 관리</a></li>
                <li><a href="#">품질 관리</a></li>
            </ul>
        </li>
        <li>
            <a href="#" class="sidebar-btn">현황관리</a>
            <ul class="sub-menu">
                <li><a href="#">실적 현황</a></li>
                <li><a href="#">품질 현황</a></li>
                <li><a href="#">비용 현황</a></li>
            </ul>
        </li>
        <li>
            <a href="#" class="sidebar-btn">설비관리</a>
            <ul class="sub-menu">
                <li><a href="#">설비 목록</a></li>
                <li><a href="#">설비 점검</a></li>
                <li><a href="#">설비 유지보수</a></li>
            </ul>
        </li>
        <li>
            <a href="#" class="sidebar-btn">기준정보관리</a>
            <ul class="sub-menu">
                <li><a href="#">고객 정보</a></li>
                <li><a href="#">공급업체 정보</a></li>
                <li><a href="#">제품 정보</a></li>
            </ul>
        </li>
    </ul>
</div>

<div class="content">
    <h1>작업 지시</h1>

    <div class="input-group mb-3 searchBar">
        <button class="btn btn-outline-info dropdown-toggle searchBtn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">검색 조건</button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" onclick="changeButtonText('제품명')">제품명</a></li>
            <li><a class="dropdown-item" onclick="changeButtonText('작업명')">작업명</a></li>
            <li><a class="dropdown-item" onclick="changeButtonText('작업자')">작업자</a></li>
            <li><a class="dropdown-item" onclick="changeButtonText('시작시점')">시작시점</a></li>
            <li><a class="dropdown-item" onclick="changeButtonText('종료시점')">종료시점</a></li>
            <li><a class="dropdown-item" onclick="changeButtonText('작업상태')">작업상태</a></li>
        </ul>
        <input type="text" class="form-control inputText" aria-label="Text input with dropdown button">
        <button class="btn btn-outline-info" type="button" id="button-addon2">search</button>
    </div>

    <table id="workOrdersTable" class="display table table-bordered" style="width:100%">
        <thead>
        <tr>
            <th>작업 번호</th>
            <th>제품</th>
            <th>공정</th>
            <th>담장자</th>
            <th>작업 예정일</th>
            <th>소요시간</th>
            <th>시작일시</th>
            <th>완료일시</th>
            <th>상태</th>
        </tr>
        </thead>
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/js/sideBar.js"></script>
<script type="text/javascript" src="/js/searchBar.js"></script>
<script>
    $(document).ready(function() {
        $("#workOrdersTable").DataTable({
            "serverSide": true,
            "processing": true,
            "ajax": {
                "url": "/api/workOrdersData",
                "type": "POST",
                "dataSrc": function(res) {
                    var data = res.data;
                    return data;
                },
                "data": function(d) {
                    d.searchType = $("#dropdownMenuButton").text().trim(); // 드롭다운에서 선택된 검색 조건
                    d.searchValue = $(".inputText").val(); // 검색어 입력값
                }
            },
            "columns": [
                {"data": "orderId"},
                {"data": "productName"},
                {"data": "quantity"},
                {"data": "vendorName"},
                {"data": "deliveryAddress"},
                {"data": "deliveryDate"},
                {"data": "ordersStatus"}
            ]
        });

        $("#workOrdersTable_filter").remove();

    });

</script>

</body>

</html>